#landPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    background-size: cover;

}

.sideText{
    font-size: 4em;

}
#navbar{
    background-color: white;
    z-index: 999;
}